Package: com.rpetrich.belfry
Name: Belfry
Section: System
Description: Install Clock, Calculator, Compass, Voice Memos, Stocks and Weather apps on iPad
Version: 1.0
Icon: file:///Applications/MobileTimer.app/icon.png
Pre-Depends: firmware (>= 5.0), firmware (<< 5.1), gsc.ipad
Conflicts: com.chpwn.spire
Depends: curl
Architecture: iphoneos-arm
Depiction: http://rpetri.ch/cydia/belfry/
Homepage: http://rpetri.ch/cydia/belfry/
Author: Ryan Petrich <rpetrich+belfry@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::uikit, role::enduser
